.header {
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 999;
}
.header .inner-main {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 25px 30px;
  border-radius: 45px;
  justify-content: space-between;
  background: #fff;
}
.header .inner-logo img {
  height: 30px;
  width: auto;
}
.header .inner-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .inner-menu ul li {
  margin-left: 40px;
}
.header .inner-menu ul li a {
  color: var(--color-text);
  font-size: 13px;
}
.header .inner-menu ul li a.active {
  color: var(--color-two);
}
.header .inner-menu ul li a:hover {
  color: var(--color-two);
  text-decoration: none;
}
.section-one {
  background-image: url(../images/banner-bg.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-one .inner-wrap {
  text-align: center;
  max-width: 540px;
  margin: 0 auto;
}
.section-one .inner-title {
  font-size: 36px;
  color: #fff;
  margin-bottom: 30px;
  line-height: 1.6;
  font-weight: 400;
}
.section-one .inner-desc {
  font-size: 15px;
  color: #fff;
  margin-bottom: 30px;
}
.button {
  padding: 8px 20px;
  border-radius: 45px;
  background: var(--color-two);
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.button-two:hover {
  background: #8261ee;
  color: #fff;
}
.section-two {
  margin-top: -225px;
}
.section-two .inner-box {
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
}
.section-two .inner-box .inner-icon {
  background: var(--color-one);
  display: inline-block;
  margin: 0 auto;
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 30px;
}
.section-two .inner-box .inner-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.section-two .inner-box .inner-desc {
  font-size: 13px;
  color: #777777;
  font-weight: 300;
}
.section-three {
  margin-top: 80px;
  padding: 80px 0;
}
.section-three .inner-border-button {
  border-bottom: 1px solid #7777;
  padding: 60px;
}
.section-three .inner-image {
  margin-left: 20px;
}
.section-three .inner-image img {
  width: 280px;
  height: 280px;
}
.section-three .inner-content .title-content {
  font-size: 24px;
  font-weight: 400;
  color: #1e1e1e;
  margin-bottom: 30px;
}
.section-three .inner-desc {
  font-size: 16px;
  font-weight: 200;
  color: #777;
}
.section-four {
  padding-top: 20px;
  padding-bottom: 80px;
}
.section-four .inner-content .inner-title {
  font-size: 24px;
  font-weight: 400;
  color: #1e1e1e;
  margin-bottom: 30px;
}
.section-four .inner-desc {
  font-size: 16px;
  font-weight: 200;
  color: #777;
}
.section-four .inner-image {
  margin-left: 200px;
}
.section-four .inner-image img {
  width: 280px;
  height: 280px;
}
.section-five {
  background-image: url(../images/work-process-bg.png);
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
}
.section-five .inner-title {
  margin-top: 80px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 30px;
}
.section-five .inner-desc {
  max-width: 540px;
  line-height: 1.8;
  margin: auto;
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 40px;
}
.section-five .inner-box {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
}

.section-five .inner-box .inner-image img {
  width: 32px;
  height: 32px;
}
.section-five .title {
  margin-top: 20px;
  font-size: 17px;
  margin-bottom: 10px;
}
.section-five .desc {
  font-size: 14px;
  font-weight: 200;
}
.section-six {
  padding: 100px;
}
.section-six .inner-title {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}
.section-six .inner-desc {
  font-size: 15px;
  font-weight: 200;
  max-width: 540px;
  text-align: center;
  margin: auto;
  padding-bottom: 40px;
}
.section-six .inner-box {
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 0 20px;
}
.section-six .inner-image img {
  width: 32px;
  height: 32px;
  margin-top: 40px;
}
.section-six .box-title {
  font-size: 15px;
  font-weight: 300;
  margin: 30px 0;
  line-height: 1.5;
  color: #777;
  padding: 0 25px;
}
.section-six .box-desc {
  font-size: 17px;
  font-weight: 400;
}
.section-six .info {
  font-size: 15px;
  font-weight: 300;
  color: var(--color-two);
  padding-bottom: 30px;
}
.section-seven {
  padding: 80px;
  background: #f2f2fe;
  text-align: center;
}
.section-seven .inner-title {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}
.section-seven .inner-desc {
  margin: 0 auto;
  font-size: 15px;
  max-width: 540px;
  margin-bottom: 30px;
}
.section-seven .inner-box {
  margin-top: 40px;
  background: #ffffff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 20px 40px;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.section-seven .box-title {
  font-size: 17px;
  margin-bottom: 20px;
}
.section-seven .inner-box .icon {
  font-size: 32px;
}
.section-seven .inner-box .inner-price {
  padding: 15px;
  font-size: 28px;
  color: #fff;
  margin: 0 10px;
  background-color: var(--color-one);
  border-radius: 20px;
  display: block;
}
.section-seven .inner-box .period {
  display: block;
  font-size: 14px;
  font-weight: 300;
}
.section-seven .inner-list ul {
  list-style: none;
  margin-top: 40px;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 40px;
}
.section-seven .inner-list ul li {
  margin-bottom: 18px;
  font-size: 13px;
}
.section-seven .inner-box a {
  font-weight: 200;
  font-size: 13px;
  padding: 12px 20px;
}
.section-eight {
  position: relative;
  min-height: 320px;
  display: flex;
  align-items: center;
  background-image: url("../images/fun-facts-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  text-align: center;
  z-index: -1;
}
.section-eight .inner-number {
  font-size: 36px;
  color: #ffffff;
}
.section-eight .inner-desc {
  font-size: 17px;
  color: #ffffff;
}
.section-eight .inner-box {
  position: relative;
}
.section-eight .inner-box-one::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 32px;
  top: 30px;
  left: 63%;
  background: url(../images/circle-dec.png) center center no-repeat;
}
.section-eight .inner-box-two::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 32px;
  top: 10px;
  left: 63%;
  background: url(../images/circle-dec.png) center center no-repeat;
}
.section-eight .inner-box-three::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 32px;
  top: 30px;
  left: 63%;
  background: url(../images/circle-dec.png) center center no-repeat;
}
.section-nine {
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
}
.section-nine .inner-title {
  font-size: 28px;
  font-weight: 400;
}
.section-nine .inner-desc {
  font-size: 15px;
  color: #777;
  font-weight: 300;
  margin: auto;
  max-width: 540px;
  padding-bottom: 30px;
}
.section-nine .inner-box .inner-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  margin-bottom: 20px;
}
.section-nine .inner-box .box-title {
  font-size: 18px;
  font-weight: 400;
}
.section-nine .inner-box .box-title:hover {
  color: var(--color-two);
}
.section-nine .inner-box .box-desc {
  font-size: 13px;
  color: #777;
  font-weight: 300;
  padding-bottom: 30px;
}
.section-nine .button {
  font-size: 13px;
  background: var(--color-one);
  padding: 12px 20px;
  font-weight: 200;
}
.section-nine .button-nine:hover {
  background: var(--color-two);
  color: #fff;
}
.section-ten {
  padding: 120px;
  background: #f2f2fe;
}
.section-ten .inner-title {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}
.section-ten .inner-desc {
  font-size: 15px;
  font-weight: 300;
  color: #777777;
  text-align: center;
  max-width: 540px;
  margin: auto;
  margin-bottom: 30px;
}
.section-ten .inner-box .box-title {
  font-size: 18px;
  color: black;
  margin-bottom: 30px;
}
.section-ten .inner-box .inner-text {
  font-size: 14px;
  color: #777777;
  font-weight: 300;
}
.section-ten .box-one .info input {
  height: 50px;
  width: 320px;
  padding: 6px 20px;
  margin-right: 30px;
  border: none;
  border-radius: 45px;
  margin-bottom: 30px;
}
.section-ten .box-one textarea {
  width: 100%;
  height: 150px;
  border-radius: 25px;
  padding: 6px 20px;
  border: none;
  margin-bottom: 30px;
}
.section-ten .box-one .box-button .button {
  padding: 12px 20px;
  font-size: 13px;
  color: #f2f2fe;
  background: var(--color-one);
  font-weight: 200;
}
.section-ten .box-one .box-button .button-ten:hover {
  color: #f2f2fe;
  background: var(--color-two);
}

.footer .inner-border-button {
  border-bottom: 1px solid #7777;
  margin-bottom: 20px;
}