.header {
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 999;
}
.header .inner-main {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 25px 30px;
  border-radius: 45px;
  justify-content: space-between;
  background: #fff;
}
.header .inner-logo img {
  height: 30px;
  width: auto;
}
.header .inner-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .inner-menu ul li {
  margin-left: 40px;
}
.header .inner-menu ul li a {
  color: var(--color-text);
  font-size: 13px;
}
.header .inner-menu ul li a.active {
  color: var(--color-two);
}
.header .inner-menu ul li a:hover {
  color: var(--color-two);
  text-decoration: none;
}
.section-one {
  background-image: url(../images/banner-bg.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-one .inner-wrap {
  text-align: center;
  max-width: 540px;
  margin: 0 auto;
}
.section-one .inner-title {
  font-size: 36px;
  color: #fff;
  margin-bottom: 30px;
  line-height: 1.6;
  font-weight: 400;
}
.section-one .inner-desc {
  font-size: 15px;
  color: #fff;
  margin-bottom: 30px;
}
.button {
  padding: 8px 20px;
  border-radius: 45px;
  background: var(--color-two);
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.button-two:hover {
  background: #8261ee;
  color: #fff;
}
.section-two {
  margin-top: -225px;
}
.section-two .inner-box {
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
}
.section-two .inner-box .inner-icon {
  background: var(--color-one);
  display: inline-block;
  margin: 0 auto;
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 30px;
}
.section-two .inner-box .inner-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.section-two .inner-box .inner-desc {
  font-size: 13px;
  color: #777777;
  font-weight: 300;
}
.section-three {
  margin-top: 80px;
  padding: 80px 0;
}
.section-three .inner-border-button {
  border-bottom: 1px solid #7777;
  padding: 60px;
}
.section-three .inner-image {
  margin-left: 20px;
}
.section-three .inner-image img {
  width: 280px;
  height: 280px;
}
.section-three .inner-content .title-content {
  font-size: 24px;
  font-weight: 400;
  color: #1e1e1e;
  margin-bottom: 30px;
}
.section-three .inner-desc {
  font-size: 16px;
  font-weight: 200;
  color: #777;
}
.section-four {
  padding-top: 20px;
  padding-bottom: 80px;
}
.section-four .inner-content .inner-title {
  font-size: 24px;
  font-weight: 400;
  color: #1e1e1e;
  margin-bottom: 30px;
}
.section-four .inner-desc {
  font-size: 16px;
  font-weight: 200;
  color: #777;
}
.section-four .inner-image {
  margin-left: 200px;
}
.section-four .inner-image img {
  width: 280px;
  height: 280px;
}
.section-five {
  background-image: url(../images/work-process-bg.png);
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;

}
.section-five .inner-title {
  margin-top: 80px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 30px;
  
}
.section-five .inner-desc {
  max-width: 540px;   
  line-height: 1.8;
  margin: auto;
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 40px;
}
.section-five .inner-box {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
}

.section-five .inner-box .inner-image img {
  width: 32px;
  height: 32px;
}
.section-five .title {
  margin-top: 20px;
  font-size: 17px;
  margin-bottom: 10px;
}
.section-five .desc {
  font-size: 14px;
  font-weight: 200;
}
.section-six {
  padding: 100px;
}
.section-six .inner-title {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}
.section-six .inner-desc {
  font-size: 15px;
  font-weight: 200;
  max-width: 540px;
  margin: auto;
  padding-bottom: 40px;
}
.section-six .inner-box {
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
  background: #FFFFFF;
  padding: 0 20px;
}
.section-six .inner-image img{
  width: 32px;
  height: 32px;
  margin: 25px 0;
}
.section-six .box-title {
  font-size: 15px;
  font-weight: 300;
<<<<<<< HEAD
  color: ;
=======
  color: #777;
>>>>>>> develop
}

